[submodule "tribler"]
	path = tribler
	url = https://github.com/Tribler/tribler.git
[submodule "docs"]
	path = docs
	url = https://git.overleaf.com/5049466xzvfzv
[submodule "addrgen-master"]
	path = addrgen-master
	url = https://github.com/weex/addrgen
